langchain
langchain_community
langchain_google_genai
langchain_groq
langchain_core
pandas
fastapi
setuptools
streamlit
pymupdf
langchain-milvus
torch==2.3.0+cpu --extra-index-url https://download.pytorch.org/whl/cpu
sentence-transformers
-e .
